@page
@model SchoolApp.Pages.Administrateur.EtudiantsModel
@{
    ViewData["Title"] = "Etudiants";
    //ViewData["Adminname"] = "Mohamed";
    Layout = "~/Pages/Shared/layout_admin.cshtml";
}

<div class="card mb-4">
    <!--<div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Tables Des Etudiants

    </div>-->
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div>
            <i class="fas fa-table mr-1"></i>
            Tables Des Etudiants
        </div>
       
    <div class="form-inline">
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#Add">Add</button>&nbsp;&nbsp;
        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#Edit">Edit</button>&nbsp;&nbsp;
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#Delete">Delete</button>
    </div>
    </nav>
    <!--<p>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Add">Add</button>
    </p>
    -->
    
    <div class="card-body">
        <div class="table-responsive">

            

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].IdEtud)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Prenom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].IdFill)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Tel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].DateNaiss)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Adresse)
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].IdEtud)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Prenom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].IdFill)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Tel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].DateNaiss)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant[0].Adresse)
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Etudiant)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.IdEtud)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prenom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdFill)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateNaiss)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adresse)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Etudiant</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="deleteEtud.IdEtud" class="control-label"></label>
                        <select asp-for="deleteEtud.IdEtud" class="form-control">
                            @foreach (var item in Model.Etudiant)
                            {
                                <option>
                                    @Html.DisplayFor(modelItem => item.IdEtud)
                                </option>
                            }
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="Edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Etudiant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="editEtud.IdEtud" class="control-label"></label>
                            <select class="form-control" asp-for="editEtud.IdEtud" required>
                                @foreach (var item in Model.Etudiant)
                                {
                                    <option>@Html.DisplayFor(modelItem => item.IdEtud)</option>
                                }
                                </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="editEtud.IdFill" class="control-label"></label>
                            <select class="form-control" asp-for="editEtud.IdFill" required>
                                @foreach (var item in Model.Filliere)
                                {
                                    <option>@Html.DisplayFor(modelItem => item.IdFill)</option>
                                }

                            </select>
                            <span asp-validation-for="editEtud.IdFill" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="editEtud.Nom" class="control-label"></label>
                            <input asp-for="editEtud.Nom" class="form-control" />
                            <span asp-validation-for="editEtud.Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="editEtud.Prenom" class="control-label"></label>
                            <input asp-for="editEtud.Prenom" class="form-control" />
                            <span asp-validation-for="editEtud.Prenom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="editEtud.Email" class="control-label"></label>
                        <input asp-for="editEtud.Email" class="form-control" />
                        <span asp-validation-for="editEtud.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="editEtud.Password" class="control-label"></label>
                        <input asp-for="editEtud.Password" class="form-control" />
                        <span asp-validation-for="editEtud.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="editEtud.Adresse" class="control-label"></label>
                        <input asp-for="editEtud.Adresse" class="form-control" />
                        <span asp-validation-for="editEtud.Adresse" class="text-danger"></span>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="editEtud.Tel" class="control-label"></label>
                            <input asp-for="editEtud.Tel" class="form-control" />
                            <span asp-validation-for="editEtud.Tel" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="editEtud.DateNaiss" class="control-label"></label>
                            <input asp-for="editEtud.DateNaiss" class="form-control" />
                            <span asp-validation-for="editEtud.DateNaiss" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">Edit Etudiant</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="Add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Etudiant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="addEtud.IdEtud" class="control-label"></label>
                            <input asp-for="addEtud.IdEtud" class="form-control" required />
                            <span asp-validation-for="addEtud.IdEtud" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="addEtud.IdFill" class="control-label"></label>
                            <select class="form-control" asp-for="addEtud.IdFill" required>
                                @foreach (var item in Model.Filliere)
                                {
                                    <option>@Html.DisplayFor(modelItem => item.IdFill)</option>
                                }

                            </select>
                            <span asp-validation-for="addEtud.IdFill" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="addEtud.Nom" class="control-label"></label>
                            <input asp-for="addEtud.Nom" class="form-control" />
                            <span asp-validation-for="addEtud.Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="addEtud.Prenom" class="control-label"></label>
                            <input asp-for="addEtud.Prenom" class="form-control" />
                            <span asp-validation-for="addEtud.Prenom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="addEtud.Email" class="control-label"></label>
                        <input asp-for="addEtud.Email" class="form-control" />
                        <span asp-validation-for="addEtud.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="addEtud.Password" class="control-label"></label>
                        <input asp-for="addEtud.Password" class="form-control" />
                        <span asp-validation-for="addEtud.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="addEtud.Adresse" class="control-label"></label>
                        <input asp-for="addEtud.Adresse" class="form-control" />
                        <span asp-validation-for="addEtud.Adresse" class="text-danger"></span>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="addEtud.Tel" class="control-label"></label>
                            <input asp-for="addEtud.Tel" class="form-control" />
                            <span asp-validation-for="addEtud.Tel" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="addEtud.DateNaiss" class="control-label"></label>
                            <input asp-for="addEtud.DateNaiss" class="form-control" />
                            <span asp-validation-for="addEtud.DateNaiss" class="text-danger"></span>
                        </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" asp-page-handler="Add">Add Etudiant</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                </form>
                </div>
        </div>
    </div>
</div>