@page
@model SchoolApp.Pages.Eleve.AbsencesModel

@{ 
    ViewData["Title"] = "Absences";
    Layout = "~/Pages/Shared/layout_eleve.cshtml";

}

<div class="card mb-4">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div>
            <i class="fas fa-table mr-1"></i>
            Tables Des Absences
        </div>
    </nav>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].IdElemNavigation.NomElem)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].DateAbs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].IsJustif)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].Justification)
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].IdElemNavigation.NomElem)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].DateAbs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].IsJustif)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Absence[0].Justification)
                        </th>

                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Absence)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdElemNavigation.NomElem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAbs)
                        </td>

                        @if (item.IsJustif == true)
                        {
                            <td>Justifier</td>
                        }
                        else
                        {
                            <td>Non Justifier</td>
                        }


                            @if (item.Justification != null)
                            {
                        <td>@Html.DisplayFor(modelItem => item.Justification)</td>
                        }
                        else
                        {
                            <td>Non Justification</td>
                        }
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
