@page
@model SchoolApp.Pages.Profs.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prof[0].IdProf)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Prof[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prof[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prof[0].IdDep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prof[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prof[0].Tel)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prof) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProf)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdProf">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdProf">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdProf">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
