@page
@model SchoolApp.Pages.Administrateur.AdminsModel
@{
    ViewData["Title"] = "Table Admins";
    ViewData["Adminname"] = "Mohamed";
    Layout = "~/Pages/Shared/layout_admin.cshtml";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Tables Des Admins
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Admin[0].IdAdmin)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Admin[0].Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Admin[0].Password)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Admin[0].IdAdmin)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Admin[0].Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Admin[0].Password)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Admin)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdAdmin)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.IdAdmin">Edit</a> |
                                <a asp-page="./Delete" asp-route-id="@item.IdAdmin">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>