@page
@model SchoolApp.Pages.Fillieres.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filliere[0].IdProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filliere[0].NomFill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Filliere) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomFill)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdFill">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdFill">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdFill">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
