@page
@model SchoolApp.Pages.Modules.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Module[0].IdMod)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Module[0].IdFill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module[0].NomMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module[0].Semestre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Module) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdMod">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdMod">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdMod">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
